<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content="ie=edge">
    <title>All students</title>
    {%load static%}
    <style type="text/css">
   body {
    background: url({%static 'media/rej.jpg'%}) ; /* Параметры фона */
   }

  </style>
</head>
<body>
    <p><a href = 'http://127.0.0.1:8000/accounts/login/'><img src="{%static 'media/gerb.jpg'%}" alt="П" height="100px" width="100px" border="2px"></a></p>
    <p><a href = 'http://127.0.0.1:8000/admin/'><img src="{%static 'media/gerb2.jpg'%}" alt="П" height="100px" width="100px" border="2px"></a></p>
</body>
</html>