{% extends 'main/wrapper.html' %}
{% block content %}
<table>
<caption> Список студентов </caption>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>День рождение</th>
        <th>Почта</th>
        <th>Город</th>
        <th>Страна</th>
        <th>Веб-сайт</th>
        <th>Форма обучения</th>
        <th>Пол</th>
    </tr>
    {% for i in peoples %}
    <tr>
        <td><a href="perform/">{{ i.first_name }}</a></td>
        <td>{{ i.last_name }}</td>
        <td>{{ i.birthday }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.city }}</td>
        <td>{{ i.country }}</td>
        <td><a href = {{ i.website }}>{{ i.website }}</a></td>
        <td>{{ i.money_field }}</td>
        <td>{{ i.sex_field }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}